.pagination{
    display: flex;
    justify-content: center;
    width: 90vw;
}
.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    color: var(--heading-color);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span:hover{
    background-color: var(--secondary-color);
}
.active__page{
    background-color: var(--secondary-color);
}